<!--<img style="width: 50%" src="${quoteImg}"/>-->
<blockquote>
    <!-- <h3>${quoteTitle}</h3> -->
    <div class="quote-text">
        <p>
            <span>&#8223;</span class="quote-span">${quoteText}<span>&#8221;</span>
            <a class="author-name" href="${permalink}" target="_blank">
                <small>${quoteAuthor}</small>
            </a>
        </p>
    </div>
    <div class="quoteSmallClass">
        <a href="${quoteCopyright}" target="_blank">
            <small>API: ${quoteCopyright}</small>
        </a>
    </div>
</blockquote>