<!--<img style="width: 50%" src="${quoteImg}"/>-->
<blockquote>
    <!-- <h3>${quoteTitle}</h3> -->
    <div class="quote-text">
        <p><span>&#8223;</span>${quoteText}<span>&#8221;</span></p>
    </div>
    <div class="quoteSmallClass">
        <div>
            <a class="name quote-items" href="${permalink}">
                <small>Author: ${quoteAuthor}</small>
            </a>
        </div>
        <div>
            <a class="link quote-items" href="${quoteCopyright}">
                <small>${quoteCopyright}</small>
            </a>
        </div>
    </div>
</blockquote>