@import '../../variables';
.quote {
    max-width: 414px;
    margin: auto;
}

.author-name {
    display: block;
    font-family: $font-main;
    font-size: 1em;
    letter-spacing: 5px;
    text-align: right;
    small {
        color: $text-primary;
    }
}

.quote-text {
    /* border: 0.5px solid rgba(255, 255, 255, 0.2); */
    padding: 10px 10px 10px 0;
    margin: 10px 10px 10px 0;
    display: flex;
    span {
        display: inline;
        font-size: 1.5em;
        padding: 0;
        // line-height: 0;
    }
}

.quoteSmallClass {
    position: relative;
    background: $text-secondary;
    text-align: center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.quoteSmallClass a {
    font-size: 1.2em;
    position: relative;
    color: $primary;
    text-align: center;
}

.quoteSmallClass a:hover {
    color: $secondary !important;
    cursor: pointer;
}

.author-name:hover small {
    color: $secondary !important;
}