.tooltip-container {
    position: relative;
}

.tooltip-text {
    position: absolute;
    padding: 10px 30px;
    background blue;
    color: red;
    visibility: hidden;
}

.tooltip-text.top {
    bottom: 100%;
}

.tooltip-text.bottom {
    top: 100%;
}

.tooltip-text.left {
    right: 100%;
}

.tooltip-text.right {
    left: 100%;
}

.tooltip-text:hover {
    visibility: visible;
}