<div id="calendlyContainer" class="calendly-box">
    <button onclick="{{clickFunction}}" class="calendly-button" id="calBtn">
        <a href="{{link}}" target="_blank">
            <div style="display: flex; align-items: center; justify-content: space-evenly;">
                <div>
                    <p class="button-caption">{{caption}}</p>
                </div>
                <div>
                    <img style="height: 30px; width: 30px;" src="{{img}}" alt="calendly">
                </div>
            </div>
        </a>
    </button>
    <div>
        <p class="powered-by">
            powered by <a href="https://calendly.com/" target="_blank">calendly</a>
        </p>
    </div>
</div>