<section class="page-quote">
	<div
		id="quote"
		style="padding-right: 20px;"
	>
		<blockquote>
			<div class="quote-text">
				<p> <span>‟</span>The things you learn in maturity aren’t simple things such as acquiring information
					and skills. You learn not to engage in self-destructive behavior. You learn not to burn up energy in
					anxiety. You discover how to manage your tensions. You learn that self-pity and resentment are among
					the most toxic of drugs. You find that the world loves talent but pays off on
					character.<span>”</span> <a
						class="author-name"
						href="https://theysaidso.com/quote/john-gardner-the-things-you-learn-in-maturity-arent-simple-things-such-as-acquir"
						target="_blank"
					> <small>John Gardner</small> </a> </p>
			</div>
			<div class="quoteSmallClass"> <a
					href="2017-19"
					theysaidso.com=""
					target="_blank"
				> <small>API: 2017-19 theysaidso.com</small> </a> </div>
		</blockquote>
	</div>
</section>