.skewdiv {
    position: absolute;
    width: 60%;
    height: 100vh;
    transform-origin: top left;
    transform: skew(-15deg);
    z-index: 0;
}

@media only screen and (max-width: 414px) {
    .skewdiv {
        position: fixed;
        top: 0;
    }
}