main {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url('../../assets/mob-bg.jpeg') top center / 120% auto fixed;
}

.mobile-container {
    width: 100%;
    text-align: center;
    h1 {
        text-align: center;
        background: rgba(0, 0, 0, 0.6);
        padding: 3vh;
        span {
            color: red;
        }
    }
    .info {
        display: flex;
        padding: 5vh;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: stretch;
        div {
            flex: 1;
        }
    }
    .mobile-button {
        font-size: 2em;
        margin: 50px 3%;
        width: 94%;
        color: white;
        background: grey;
        border: 0px;
        box-shadow: 3px 3px 5px black;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
}

.info-icon {
    width: 30%;
    color: white;
}