$primary: #121212;
$secondary: #f44336;
$text-primary: #FFFFFF;
$text-secondary: #EDEDED;
$text-accent: $secondary;
$primary-transparent: #121212ef;
$secondary-transparent: #ffffff23;
$font-main: Racing Sans One !important;
$font-sub-headings: Khand !important;
$font-sub-text: Oswald !important;