.footer {
    position: fixed;
    bottom: 0;
    color: #f44336;
    padding: 5vh;
    text-align: center;
    width: 100%;
    font-family: Racing Sans One;
    font-size: 1.2em;
}

.policies-container {
    background: #37474F;
    border-radius: 5px;
    display: inline;
    padding: 10px 15px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.699);
}

.policies:hover {
    color: white;
}