.loader-html {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


/* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */

.fadeOut {
    animation: fadeOutEffect 1s linear 1 forwards;
}

@keyframes fadeOutEffect {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 5;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        z-index: -10;
        display: none;
    }
}

@keyframes fadeInEffect {
    0% {
        display: block;
        z-index: initial;
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    50% {
        opacity: 5;
    }
    100% {
        opacity: 1;
    }
}