//@import url('https://fonts.googleapis.com/css?family=Alfa Slab One|Allerta Stencil|Averia Libre|DM Sans|DM Serif Display|Damion|Days One|Khand|Mitr|Squada One&display=swap');
//@import url('https://fonts.googleapis.com/css?family=Encode+Sans|Nanum+Gothic|Prosto+One|Quicksand|Racing+Sans+One&display=swap');

/*

Alfa Slab One
Allerta Stencil
Averia Libre
DM Sans
DM Serif Display
Damion
Days One
Khand
Mitr
Squada One

*/

@import './variables.scss';
.devDisplay {
    position: absolute;
    color: $text-accent;
    bottom: 10%;
    right: 10%;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 414px) {
    html,
    body {
        overflow-y: scroll;
    }
}

h1,
h2,
h3 {
    margin: 0;
    font-family: $font-main;
}

h1 {
    font-family: $font-main;
    font-size: 2em;
    text-shadow: 1px 1px 3px black;
    color: $text-primary;
}

h2,
h3 {
    text-shadow: 1px 1px 3px black;
    color: $text-secondary;
}

h4 {
    text-shadow: 1px 1px 3px black;
    color: $text-secondary;
}

a {
    text-decoration: none;
    color: $text-accent;
}

p {
    color: $text-secondary;
    font-family: Oswald;
    text-shadow: 1px 1px 2px black;
}

blockquote {
    font-family: $font-sub-headings;
    font-size: 1.2em;
    color: $text-primary;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px 10px 30px;
    border-left: 3px solid $text-primary;
}

small {
    font-family: $font-sub-text;
    color: $font-sub-text;
}

hr {
    text-shadow: 1px 1px 3px black;
    color: $text-secondary;
}

.main-overlay {
    background: $secondary-transparent;
}

.skewdiv {
    background: $primary-transparent;
}

.btn {
    font-size: 1em;
    padding: 7px 30px;
    background: $text-accent;
    color: $text-primary;
    border: solid 1px $text-primary;
    border-radius: 4px;
    font-weight: bold;
    animation: 1s ease-in;
    &:focus {
        outline: none;
    }
    &:hover {
        background: $text-primary;
        color: $secondary;
        border: solid 1px $secondary;
    }
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: grey !important;
}

.quoteSmallClass {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.quoteSmallClass a {
    font-size: 1.2em;
    display: block;
    position: relative;
    color: $primary;
    width: 100%;
}

.quoteSmallClass a:hover {
    color: $text-secondary !important;
}

.quoteSmallClass .link {
    text-align: right;
}

.quoteSmallClass div {
    position: relative;
    min-width: 118px;
    flex: 1;
}

.nav-links a:hover {
    color: $text-primary;
}