$primary: #121212;
$secondary: #f44336;
$text-primary: #FFFFFF;
$text-secondary: #EDEDED;
$text-accent: $secondary;
$primary-transparent: #121212ef;
$secondary-transparent: #ffffff23;
$font-main: Racing Sans One;
$fony-sub-headings: Khand;
$font-sub-text: Oswald