<!DOCTYPE html>
<div class="subject">
    <div class="position">
        <div>
            <h1 class="name">Cliff <span>Crerar</span></h1>
            <h2>Solutions Architect</h2>
            <!-- <h3>
                <a href="https://www.surtech.co.za">Surtech Solutions</a>
            </h3> -->
        </div>
        <image class="st-logo" src="https://cdn-cloudflare.ga/assets/own-logo/Own-icon-2.png" alt="own-logo" />
        <!-- <h2>iCode | iBuild | iSolve</h2> -->
    </div>
    <hr>
    <h4 style="font-size: 1.1em;">iCode | iBuild | iSolve</h4>
    <div class="contact">
        <!-- <button class="btn btn-contact">Contact me</button> -->
        <form style="display: none">
            <div class="input-group">
                <label for="name">Name:</label>
                <input name="name" placeholder="type name here" type="text">
            </div>
            <div class="input-group">
                <label for="email">Name:</label>
                <input name="email" placeholder="type email here" type="email">
            </div>
            <div class="input-group">
                <label for="message">Name:</label>
                <textarea name="message" placeholder="type message here" type="text"></textarea>
            </div>
        </form>
    </div>
</div>