.footer {
    position: fixed;
    bottom: 0;
    color: #f44336;
    padding: 5vh;
    text-align: center;
    width: 100%;
    font-family: Racing Sans One;
    font-size: 1.2em;
}

.policies:hover {
    color: white;
}