nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.options {
    position: relative;
    top: 0;
    left: 30px;
    display: flex;
    align-items: center;
    z-index: 1;

    h1 {
        font-size: 2.5em;
    }

    ul {
        display: flex;
        align-items: center;
        list-style: none;

        li {
            margin: 10px;
            padding: 10px;

            a {
                font-size: 2em;
                font-family: Oswald;

                &:hover {
                    color: rgb(221, 221, 221) !important;

                }

            }

            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
            }


        }
    }
}

.options ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.options-mobile {
    display: none;
    position: fixed;
    z-index: 3000;
}

.nav-links-mobile-container {
    position: relative;
    padding: 5vw;
    background: #212121;
    z-index: 3000;
}

.nav-links-mobile li {
    line-height: 40px;
    font-size: 1.5em;
    list-style: none;
}

.burger-icon-btn {
    background: #fafafa;
}

@media only screen and (max-width: 414px) {
    .page-options {
        transform: scale(0.7);

        p {
            text-align: center;
            transform: scale(1.7);
        }
    }

    .options {
        display: none;
    }

    .options-mobile {
        display: block;
        color: white;
    }
}

#page-loader {
    height: 100vh;
    width: 100vw;
    background: #09111F;
    position: fixed !important;
    z-index: 100000;
}